@import '../../../styles.scss';


/*---------general layout-------------------*/


.mainCont{
  @extend .headersafe;
  padding-left: 20px;
  padding-right: 20px;
}


  .bookmark {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .carditem{
    padding: 5px;
    border: 1px solid #ccc;
  }
