<div class="dialogBackdrop" *ngIf="dialogVisibile">
  <div class="dialogContainer">
      <div class="dialogClose" (click)="closeDialog(false)">x</div>
      <p class="dialogTitle">Add Link</p>
      <div class="formField">
        <div class="fieldName">Link</div>
        <input type="text" class="inputField" [formControl]="link" required />
        <div class="inputError" *ngIf="link.invalid">
          {{ getLinkError() }}
        </div>
      </div>
    <div class="addButtn" (click)="addLink()">Add</div>
  </div>
</div>
  