@import "../../../../../styles.scss";

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  p {
    font-size: 20px;
    text-align: center;
  }
  
.addButtn{
  @extend .bttn;
  background-color: $primary-btn-bg;
}