<div class="dialogBackdrop" *ngIf="dialogVisibile">
  <div class="dialogContainer">
    <div class="dialogClose" (click)="closeDialog(false)">x</div>
      <p class="dialogTitle">Create Bookmark</p>
      <div class="formField">
        <div class="fieldName">Bookmark Name</div>
        <input type="text" class="inputField" [formControl]="bookmarkName" required />
        <div class="inputError" *ngIf="bookmarkName.invalid">
          {{ getBookmarkNameError() }}
        </div>
      </div>
      <div class="createBttn" (click)="createBookmark()">
        Create
      </div>
  </div>
</div>
  