@import "../../../styles.scss";

.container { 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    height: 100vh;
}

.authbttn{
    @extend .bttn;
    background-color: $primary-btn-bg;
}

