
<div class="container">
    <h3>Let's {{submitLabel}}</h3>

    <div class="formField">
    <div div="fieldName">Email</div>
    <input class="inputField" [formControl]="email" required/>
    <div class="inputError" *ngIf="email.invalid">{{ getEmailErrorMessage() }}</div>
    </div>

    <div class="formField">
    <div div="fieldName">Password</div>
    <input class="inputField" type="password" [formControl]="password" required/> 
    <div class="inputError" *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</div>
    </div>
    
    <div class="authbttn" color="#F5F5F5" (click)="onSubmit()">
    {{submitLabel }}
    </div>
</div>
