<div *ngIf="bookmark" class="mainCont">
    <div>
      <span>{{ bookmark.name }}</span>
      <div class="fab" (click)="onAdd()">
        +
      </div>
    </div>
    <div *ngIf="isLoading; else showLinks">
      <p>Loading...</p>
    </div>
    <ng-template #showLinks>
      <div class="linkCont">
        <div class="linkItem" *ngFor="let link of links" (click)="onLinkClick(link.url)">
              <div class="linkItemDet">
                <div>{{ link.title }}</div>
                <div>{{ link.siteName }}</div>
              </div>
              <img src="{{ link.images[0] }}" alt=""/>
        </div>
      </div>
    </ng-template>
  </div>
  <app-add-link [dialogVisibile]="dialogVisibile" (changeDialogVisibility)="onDialogVisibilityChange($event)"></app-add-link>